# Supabase
SUPABASE_URL=https://yommcknuizxkwpmpvlmp.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_secret_ouzX5L29lsX_QlvM2nuJEw_9qMjFS63

# DeepSeek API
DEEPSEEK_API_KEY=sk-XXXX

# Kwork
KWORK_API_KEY=XXXXXXX
KWORK_WEBHOOK_SECRET=XXXXXXX

# App
DEBUG=False
HOST=0.0.0.0
PORT=8000
